@{
    ViewBag.Title = "About";
}

<head>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</head>

<body>
    <h3>Student Results Management System</h3>
    <h4>Supplementary Information</h4>
    <div class="col-md-6">
        <p align="justify">
            This system has been designed and created for the CSI2441 Applications Development Assignment 2.
            Using a database/model first approach with some LINQ to SQL and Code-First techniques the model
            is first created using Microsoft SQL Server Express version, providing a lightweight database
            platform in combination with management studio to create the relational database for this appl-
            lication. Writing a script for 3NF relational database and applying relationships, keys and ser
            ver side validation to ensure data integrity and security, the database is created and then im-
            ported into ASP.net using Entity Framework and MVC architecture.
        </p>
        
        <p align="justify">
            As it has been designed to meet the minimum business rules and validation as outlined in the
            client document, please be aware that it is still a prototype/WIP and is by no means a fully
            deployed product.
        </p>
        
        <p align="justify">
            No need to create admin and manager, they are already created when the application starts.
            Registration is working, but the new users won't have access to any modules.
        </p>

        <p align="justify">
            Stock photos and unit outlines have been added to project root directory
            /Photos/ and /UnitOutlines/ folder. Please use them as desired.
        </p>
        <p align="justify">
            Default file size allowded in Web.config has not been modified, therefore
            when uploading files do not exceed 4 MB and use common appropriate file extensions
            (do NOT upload things like .exe).
        </p>
    </div>
    <div class="col-md-6">
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
   </div>
</body>

